html{
	min-height: 100%;
}
body{
	height: 100%;
	font-family: 'Roboto', cursive;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main{
	flex: 1 0 auto;
}

.killapu {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 700;
	color: #2F80ED;
	font-size: 4.5rem !important;
}

.slogan {
	font-size: 3rem !important;
}

nav{
	transition: background-color 600ms linear;
}

.navbar-fixed {
	z-index: 9999;
}

nav ul a{
	text-transform: uppercase !important;
	font-size: .9rem;
	font-weight: bold;
}

.dropdown-content{
    overflow: visible !important;
}

.dropdown-content li a{
    /*overflow: visible !important;*/
    font-size: .8rem;
    color: #000000;
}

.scrolled{
	background-color: #fff !important;
	transition: background-color 600ms linear;
}

.titular{
	height: calc(100vh - 64px);
	text-align: center;
}

.titular h1{
	font-size: 6rem;
}

.titular h2 {
	font-size: 3rem;
	color: #2F80ED;
}

.resaltado {
	font-weight: bold;
	line-height: 2.3rem;
}

.ideaCentralCirculo{
	background: #2F80ED;
	color: #fff;
	border-radius: 5px;
	/*border: solid 2px #2F80ED;*/
	/*text-decoration: underline;
	text-decoration-color: #2F80ED;*/
}

.ideaCentralCirculo>*{
	padding: 10px;
	text-align: center;
	width: 100%;

}

.xlbotons{
	background: #2F80ED;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 20px;
}

.circuloDorado{
	height: 100vh;
}

.large{
	color: #2F80ED;
}

@keyframes latidos{
	from {
		transform: none;
	}

	50% {
		transform: scale(1.2);
	}

	to{
		transform: none;
	}
}

.corazon{
	animation: latidos .84s infinite;
	transform-origin: center;
}


.products{
	padding: 0;
	margin: 0;
	background: #2F80ED;
	color: #fff;
}
.insideA{
	font-size: 1.2rem;
	display: block;
	margin: 1.78rem 0 1.424rem 0;
	-webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#contactSection {
	padding-top: 56px;
}


.sectionDatos i{
	font-size: 1.9em;
	margin-left: 20px;
	margin-right: 50px;
}

.sectionDatos  p{
	display: inline-block;
	font-size: 13px;
}


footer{
	font-size: 12px;
}

/*Móviles en horizontal o tablets en vertical*/

@media (min-width: 600px) {
	body {
		/* background: red; */
	}
}

/*Tablets en horizontal y Escritorios normales */

@media (min-width: 992px) {
	body {
		/* background: yellow; */
	}

	#contactSection {
		padding-top: 120px;
	}

}

/*Escritorios muy anchos*/

@media (min-width: 1200px) {
	body {
		/* background: blue; */
	}
}
